<!DOCTYPE html>
<html>
<head>
    </head>
<body>
    <div class="sidebar">
        <h2>HumanGhost</h2>
        <nav>
            <a href="{{ url_for('dashboard') }}" class="{{ 'active' if page == 'dashboard' else '' }}">Tableau de Bord</a>
            <a href="{{ url_for('campaign_launcher') }}" class="{{ 'active' if page == 'launcher' else '' }}">Lancer une Campagne</a>
            <a href="#">Gérer les Templates</a> <a href="#">Gérer les Cibles</a> <a href="{{ url_for('settings') }}" class="{{ 'active' if page == 'settings' else '' }}">Paramètres</a>
        </nav>
    </div>
    <main class="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
